In [1]:
#import dependancies
import pymongo
import pandas as pd

from glob import glob
import os

In [2]:
#
stock_files = glob('../Components/*.csv')

for i, f in enumerate(stock_files):
    if i == 0:
        df = pd.read_csv(f)
        df['Stock'] = f
    else:
        tmp = pd.read_csv(f)
        tmp['Stock'] = f
        df = df.append(tmp)

df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Stock
0,2020-01-01,296.239990,327.850006,292.750000,309.510010,307.943604,733592600,../Components\AAPL.csv
1,2020-02-01,304.299988,327.220001,256.369995,273.359985,271.976532,754645900,../Components\AAPL.csv
2,2020-03-01,282.279999,304.000000,212.610001,254.289993,253.603500,1570018100,../Components\AAPL.csv
3,2020-04-01,246.500000,294.529999,236.899994,293.799988,293.006836,816222400,../Components\AAPL.csv
4,2020-05-01,286.250000,324.239990,285.850006,317.940002,317.081665,701520600,../Components\AAPL.csv

In [3]:
df.Stock =[x.strip('"../Components\\"&''.csv') for x in df.Stock]
Stock_df = df[["Stock", "Date","Open","High","Low","Close","Adj Close","Volume"]]

In [4]:
Stock_df

,Stock,Date,Open,High,Low,Close,Adj Close,Volume
0,AAPL,2020-01-01,296.239990,327.850006,292.750000,309.510010,307.943604,733592600
1,AAPL,2020-02-01,304.299988,327.220001,256.369995,273.359985,271.976532,754645900
2,AAPL,2020-03-01,282.279999,304.000000,212.610001,254.289993,253.603500,1570018100
3,AAPL,2020-04-01,246.500000,294.529999,236.899994,293.799988,293.006836,816222400
4,AAPL,2020-05-01,286.250000,324.239990,285.850006,317.940002,317.081665,701520600
...,...,...,...,...,...,...,...,...
2,_DJI,2020-03-01,25590.509770,27102.339840,18213.650390,21917.160160,21917.160160,15521140000
3,_DJI,2020-04-01,21227.380860,24764.769530,20735.019530,24345.720700,24345.720700,9795600000
4,_DJI,2020-05-01,24120.779300,25758.789060,22789.619140,25383.109380,25383.109380,7940630000
5,_DJI,2020-06-01,25342.990230,27580.210940,25078.410160,25605.539060,25605.539060,4426990000
6,_DJI,2020-06-09,27447.369140,27447.369140,27151.060550,27272.300780,27272.300780,381430000

In [5]:
# Connect MongoDB

client = pymongo.MongoClient('localhost',27017)
db = client['stocks'] # доступ к базе данных

In [6]:
# создать коллекцию в базе данных
db.stock_data.drop()
collection = db['stock_data']

In [7]:
# запись df в словарь
stock_dict = Stock_df.to_dict("records")

In [8]:
# Insert collection
collection.insert_many(stock_dict)